.inputContainer {
	display: flex;
	justify-content: space-between;
}

.tweetInput {
	min-width: 40vw;
	margin-bottom: 2rem;
	height: 8vh;
	font-size: 1rem;
	border-radius: 8px;
}

.submitBtn {
	font-weight: bold;
	font-size: 1rem;
	padding: 1.4rem;
	margin: 1rem;
	border-radius: 8px;
}
